.error {
  padding: 120px 0px 140px 0px;
  @include tablet {
    padding-bottom: 40px;
  }
  &__title {
    margin: 32px 0px 90px 0px;
    @include tablet {
      margin: 16px 0px 40px 0px;
    }
  }
  &__body {
    @include flex-center;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 100px 30px;
    gap: 80px;
    background-color: var(--chalk);
    border-radius: 30px;
    z-index: 1;
    @include desktop-min {
      gap: 30px;
    }
    @include tablet {
      gap: 16px;
      padding: 60px 20px;
    }
    &::before {
      position: absolute;
      content: "";
      width: 2250px;
      height: 560px;
      background: url("@img/decor/decor-white.svg") 0 0 / 100% 100% no-repeat;
      bottom: -70px;
      left: -600px;
      transform: rotate(-140deg);
      z-index: -1;
      @include tablet {
        width: 1320px;
        height: 330px;
        bottom: auto;
        top: 55px;
        left: -520px;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    max-width: 500px;
    @include tablet {
      gap: 20px;
    }
  }
  &__number {
    font-weight: 500;
    font-size: 200px;
    text-align: center;
    color: var(--gun-powder);
    @include laptop {
      font-size: 180px;
    }
    @include laptop-min {
      font-size: 150px;
    }
    @include tablet {
      font-size: 120px;
    }
  }
  &__content {
    color: var(--gun-powder);
    font-size: 18px;
    line-height: 133%;
    text-align: center;
    margin: 0;
    @include tablet {
      font-size: 14px;
      line-height: 143%;
    }
  }
  &__btn {
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;
    @include mobile {
      width: 100%;
    }
  }
  &__img {
    width: 515px;
    @include desktop-min {
      width: 450px;
    }
  }
  &__corner {
    position: absolute;
    &--right {
      top: 0;
      right: 0;
      @include tablet {
        .corner__body {
          border-radius: 0 0 0 20px;
        }
      }
    }
    &--left {
      left: 0;
      bottom: 0;
      @include tablet {
        .corner__body {
          border-radius: 0 20px 0 0;
        }
      }
    }
    .corner__body {
      width: 200px;
      height: 60px;
      @include tablet {
        width: 120px;
        height: 40px;
      }
    }
  }
}
