.certificates {
  padding: 90px 0px;
  @include tablet {
    padding: 40px 0px;
  }
  @include tablet-min {
    overflow: hidden
  }
  &__head {
    @include flex-between;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
    @include tablet-min {
      .slider-nav {
        display: none;
      }
    }
  }
  &__slider {
    @include tablet-min {
      overflow: visible !important;
      margin: 0 -15px;
      padding: 0 15px;
    }
  }
  &__slide {
    @include tablet {
      width: 310px !important;
    }
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__scrollbar-wrapper {
    display: none;
    @include tablet-min {
      margin-top: 24px;
      display: block;
    }
  }
}