.comfort {
  overflow: hidden;
  padding: 90px 0px;
  &--decor {
    &::before {
      position: absolute;
      content: "";
      background: url('@img/decor/decor.svg') 0 0 / 100% 100% no-repeat;
      width: 2590px;
      height: 630px;
      right: 0;
      top: 550px;
      transform: rotate(-115deg);
      z-index: -1;
      @include tablet {
        display: none;
      }
    }
  }
  @include tablet {
    padding: 40px 0px;
  }
  &__head {
    @include flex-between;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
    @include tablet-min {
      .slider-nav {
        display: none;
      }
    }
  }
  &__slider {
    overflow: visible !important;
  }
  &__slide {
    overflow: hidden;
    display: block;
    border-radius: 12px;
    width: 455px !important;
    height: 320px !important;
    @include tablet-min {
      width: 310px !important;
      height: 220px !important;
    }
  }
  &__slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__scrollbar-wrapper {
    display: none;
    margin-top: 24px;
    @include tablet-min {
      display: block;
    }
  }
}
