.consultation {
  &__title {
    max-width: 320px;
    margin-bottom: 20px;
    @include tablet {
      max-width: 200px;
      margin-bottom: 8px;
    }
  }
  &__content {
    font-size: 14px;
    line-height: 143%;
    margin: 0px 0px 20px 0px;
    @include tablet {
      max-width: 290px;
      margin-bottom: 16px;
    }
    @include tablet-min {
      max-width: none;
    }
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    row-gap: 20px;
    @include tablet {
      gap: 12px;
    }
  }
  &__form-label {
    flex: 0 1 calc(33% - 7px);
    @include tablet {
      flex-basis: calc(50% - 7px);
    }
    @include tablet-min {
      flex-basis: 100%;
    }
  }
  &__form-btn {
    flex: 1;
    @include tablet {
      flex: 0 1 400px;
    }
  }
}
