.discount {
  padding: 90px 0px;
  @include tablet {
    padding: 40px 0px;
  }
  &__head {
    @include flex-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
    .slider-nav {
      @include tablet-min {
        display: none;
      }
    }
  }
  &__slider {
    .swiper-wrapper {
      @include tablet-min {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 40px;
      }
    }
    .stock-card {
      box-sizing: border-box;
      @include tablet-min {
        flex-basis: 100%;
      }
    }
  }
}
