.hero-main {
  padding: 125px 0px 90px 0px;
  background-color: var(--alabaster);
  overflow: hidden;
  &::before {
    position: absolute;
    content: "";
    bottom: 15px;
    right: -450px;
    width: 2410px;
    height: 600px;
    transform: rotate(-3deg);
    background: url("@img/decor/decor.svg") 0 0 / contain no-repeat;
    z-index: -1;
  }
  &--doctor {
    .hero-main__main {
      background-image: none;
    }
  }
  &--price {
    .hero-main__container {
      align-items: stretch;
    }
    .hero-main__main {
      background-image: none;
      align-self: start;
    }
    .hero-main__middle-img {
      height: 280px;
    }
  }
  @include tablet {
    padding: 90px 0px 40px 0px;
    &::before {
      width: 1230px;
      height: 300px;
      bottom: 130px;
      right: -470px;
      transform: rotate(145deg);
    }
  }
  .breadcrumbs {
    flex: 1;
  }
  &__container {
    display: flex;
    align-items: start;
    gap: 30px;
    @include desktop-min {
      flex-wrap: wrap;
    }
    @include tablet {
      gap: 16px;
    }
  }
  &__main {
    flex: 0 1 680px;
    padding: 30px;
    border-radius: 30px;
    background: url("@img/picture/teeth-service.png") bottom -18px right -16px / 116px auto
      no-repeat;
    background-color: white;
    @include desktop {
      flex: 1;
    }
    @include desktop-min {
      flex: 0 1 100%;
    }
    @include tablet {
      padding: 20px;
      border-radius: 20px;
      background-size: 80px auto;
      background-position: right -10px bottom -13px;
    }
  }
  &__head {
    @include flex-between;
    margin-bottom: 20px;
    @include tablet {
      margin-bottom: 16px;
    }
  }
  &__price {
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    padding: 10px 20px;
    border-radius: 50px;
    color: var(--portage);
    background-color: var(--chalk);
    @include tablet {
      font-size: 16px;
      line-height: 150%;
      padding: 6px 16px;
      margin-top: 12px;
    }
  }
  &__skill {
    display: block;
    width: fit-content;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 8px 16px;
    border-radius: 50px;
    color: var(--orange);
    background-color: var(--peach);
    @include tablet {
      margin-top: 12px;
      padding: 6px 16px;
    }
  }
  &__term {
    display: block;
    width: fit-content;
    border-radius: 50px;
    background-color: var(--alabaster);
    padding: 6px 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    @include tablet {
      margin-top: 12px;
    }
  }
  &__title {
    margin-bottom: 24px;
    max-width: 540px;
    @include tablet {
      margin-bottom: 12px;
    }
  }
  &__content {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    max-width: 540px;
    @include tablet {
      font-size: 14px;
      line-height: 143%;
    }
  }
  &__footer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 20px;
    border-top: 1px solid var(--athens-gray);
    &--price {
      gap: 40px;
      flex-wrap: wrap;
    }
    @include tablet {
      gap: 12px;
      padding-top: 10px;
      margin-top: 16px;
      &--price {
        gap: 40px;
      }
    }
  }
  &__footer-img {
    width: 60px;
    @include tablet {
      width: 54px;
    }
  }
  &__footer-info {
  }
  &__footer-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--manatee);
    @include tablet {
      font-size: 12px;
      line-height: 150%;
    }
  }
  &__footer-content {
    margin: 0;
    font-size: 16px;
    line-height: 150%;
    @include tablet {
      font-size: 14px;
      line-height: 143%;
    }
  }
  &__footer-price {
    display: block;
    font-weight: 500;
    &--price {
      color: var(--melrose);
    }
    &--term {
      color: var(--orange);
    }
    @include tablet {
      font-size: 20px;
      line-height: 130%;
    }
  }
  &__middle {
    max-width: 336px;
    width: 100%;
    @include tablet {
      max-width: 100%;
      &--price {
        .hero-main__middle-info {
          display: block;
        }
      }
    }
  }
  &__middle-img {
    display: block;
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 30px;
    @include desktop-min {
      height: auto;
    }
    @include tablet {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
    }
  }
  &__middle-info {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    @include tablet {
      display: none;
      margin-top: 16px;
    }
  }
  &__middle-corner {
    position: absolute;
    top: 0;
    right: 0;
    .corner__body {
      padding: 0px 0px 14px 14px;
    }
  }
  &__middle-title {
    max-width: calc(100% - 50px);
    margin-bottom: 24px;
    @include tablet {
      margin-bottom: 8px;
    }
  }
  &__middle-content {
    margin: 0;
    font-size: 14px;
    line-height: 143%;
    max-width: 145px;
    @include tablet {
      font-size: 12px;
      line-height: 150%;
    }
  }
  &__middle-icon {
    position: absolute;
    width: 110px;
    height: auto;
    bottom: 8px;
    right: 15px;
    @include tablet {
      width: 92px;
    }
  }
  &__middle-rating {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  &__middle-gallery {
    display: flex;
  }
  &__middle-wrapper-img {
    @include flex-center;
    position: relative;
    width: 40px;
    height: 40px;
  }
  &__middle-gallery-img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-width: none;
    border: 2px solid var(--alabaster);
  }
  &__rating-wrapper {
    display: flex;
    align-items: end;
    gap: 4px;
  }
  &__rating-current {
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: var(--orange);
  }
  &__rating-max {
    font-size: 14px;
    line-height: 143%;
    color: var(--manatee);
  }
  &__contacts {
    flex: 1;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(90deg, #f6ebe5 0%, #e7e0fc 100%);
    @include tablet {
      padding: 20px;
      border-radius: 20px;
    }
    @include mobile {
      display: none;
    }
  }
  &__contacts-title {
    margin-bottom: 14px;
  }
  &__contacts-content {
    font-size: 14px;
    line-height: 143%;
    margin: 0px 0px 24px 0px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__form-label {
    width: 100%;
  }
  &__form-btn {
    width: 100%;
  }
  &__btn-call {
    display: none;
    width: 100%;
    @include mobile {
      display: block;
    }
  }
}
