.hero {
  padding: 125px 0px 150px 0px;
  background-color: white;
  @include laptop-min {
    padding-bottom: 90px;
  }
  @include tablet {
    padding: 90px 0px 40px 0px;
  }
  &__body {
    @include laptop-min {
      display: flex;
      flex-direction: column;
    }
  }
  &__main-section {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background: linear-gradient(90deg, #f6ebe5 0%, #e7e0fc 100%);
    padding-top: 15px;
    min-height: 600px;
    z-index: 1;
    @include laptop-min {
      min-height: auto;
      padding-top: 40px;
      border-radius: 20px;
    }
  }
  &__decor {
    position: absolute;
    top: -310px;
    width: 90vw;
    left: -50px;
    max-width: none;
    z-index: -1;
    @include desktop {
      top: -100px;
    }
    @include tablet {
      top: -180px;
      transform: rotate(-30deg);
      width: 800px;
      left: -210px;
    }
  }
  &__logo {
    position: absolute;
    top: 0;
    left: 0;
    .corner__body {
      padding: 0px 40px 40px 0px;
    }
    @include laptop-min {
      .corner__body {
        padding: 8px 10px;
      }
    }
  }
  &__logo-img {
    width: 200px;
    @include laptop-min {
      width: 150px;
    }
    @include tablet {
      width: 100px;
    }
  }
  &__offer {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 540px;
    width: 100%;
    .corner__body {
      padding: 0px 0px 20px 20px;
    }
    @include laptop-min {
      position: static;
      max-width: none;
      margin-top: 24px;
      .corner__body {
        padding: 0;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
  &__offer-body {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 30px;
    background-color: var(--alabaster);
    padding: 27px 24px;
    z-index: 1;
    @include tablet {
      padding: 15px;
    }
  }
  &__offer-content {
    margin: 0;
    max-width: 270px;
    font-weight: 500;
    font-size: 24px;
    line-height: 125%;
    color: var(--gun-powder);
    span {
      color: var(--orange);
    }
    @include desktop {
      font-size: 20px;
      max-width: 220px;
    }
    @include tablet {
      font-size: 18px;
      line-height: 133%;
      max-width: 200px;
    }
  }
  &__offer-img {
    position: absolute;
    width: 200px;
    right: 0;
    bottom: 0;
    z-index: -1;
    @include tablet {
      width: auto;
      height: 100%;
    }
  }
  &__main {
    position: absolute;
    left: 0;
    bottom: 0;
    .corner__body {
      padding: 40px 40px 24px 0px;
    }
    @include laptop-min {
      position: static;
      margin-top: 24px;
      .corner__body {
        padding: 0px;
        background-color: transparent;
        &::before,
        &::after {
          display: none;
        }
      }
    }
  }
  &__title {
    font-size: 60px;
    line-height: 110%;
    max-width: 585px;
    margin-bottom: 24px;
    @include desktop {
      font-size: 52px;
      max-width: 485px;
    }
    @include laptop {
      font-size: 46px;
      max-width: 425px;
    }
    @include laptop-min {
      font-size: 40px;
      max-width: none;
    }
    @include tablet {
      font-size: 34px;
      line-height: 112%;
      margin-bottom: 15px;
    }
  }
  &__main-content {
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    @include tablet {
      font-size: 14px;
      line-height: 143%;
      max-width: 255px;
    }
  }
  &__buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 305px;
    width: 100%;
    .corner__body {
      padding: 20px 0px 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    @include laptop-min {
      position: static;
      margin-top: 24px;
      max-width: 350px;
      .corner__body {
        padding: 0;
        background-color: transparent;
      }
    }
  }
  &__btn {
    width: 100%;
  }
  &__img {
    display: block;
    width: 900px;
    margin-left: 240px;
    @include desktop {
      width: 685px;
      margin-left: 195px;
    }
    @include laptop {
      margin-left: 170px;
    }
    @include laptop-min {
      margin: 0 auto;
    }
  }
  &__care {
    position: absolute;
    display: block;
    color: var(--orange);
    font-weight: 500;
    font-size: 18px;
    line-height: 133%;
    padding: 10px 20px;
    background-color: white;
    border-radius: 20px 20px 0 20px;
    top: 70px;
    left: 340px;
    @include desktop {
      top: 105px;
      left: 280px;
    }
    @include laptop {
      top: 160px;
      left: 235px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__price {
    position: absolute;
    display: block;
    box-shadow: 0 4px 10px 0 rgba(205, 205, 205, 0.26);
    border-radius: 12px;
    background-color: var(--cheese);
    color: white;
    padding: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    text-align: center;
    bottom: 180px;
    right: 255px;
    max-width: 230px;
    @include desktop {
      right: 50px;
    }
    @include laptop {
      right: 30px;
    }
    @include laptop-min {
      right: 15px;
      bottom: 15px;
      padding: 12px 8px;
      font-size: 14px;
      max-width: 180px;
    }
    @include tablet {
      font-size: 12px;
      max-width: 140px;
    }
  }
}
