.linear {
  padding: 90px 0px;
  @include tablet {
    padding: 50px 0px 30px 0px;
  }
  &__container {
    position: relative;
  }
  &__circle {
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    @include laptop {
      top: -70px;
    }
    @include tablet-min {
      top: -46px;
    }
  }
  &__circle-body {
    @include flex-center;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: var(--alabaster);
    z-index: 1;
    &::before,
    &::after {
      position: absolute;
      content: "";
      background: url("@img/elements/corner-alabaster.svg") 0 0 / cover no-repeat;
      width: 70px;
      height: 52px;
      z-index: -1;
    }
    &::before {
      left: -52px;
      transform: rotate(180deg) scale(1, -1) translateY(25px);
    }
    &::after {
      right: -52px;
      transform: rotate(-180deg) scale(-1, -1) translateY(25px);
    }
    @include laptop {
      width: 140px;
      height: 140px;
      &::before,
      &::after {
        height: 49px;
        width: 74px;
      }
      &::before {
        left: -49px;
        transform: rotate(180deg) scale(1, -1) translateY(22px);
      }
      &::after {
        right: -50px;
        transform: rotate(-180deg) scale(-1, -1) translateY(24px);
      }
    }
    @include tablet-min {
      width: 97px;
      height: 97px;
      &::before,
      &::after {
        width: 34px;
        height: 28px;
      }
      &::before {
        left: -25px;
        transform: rotate(180deg) scale(1, -1) translateY(11px);
      }
      &::after {
        right: -25px;
        transform: rotate(-180deg) scale(-1, -1) translateY(11px);
      }
    }
  }
  &__circle-wrapper {
    position: relative;
    @include flex-center;
    width: 142px;
    height: 142px;
    background: linear-gradient(90deg, #f6ebe5 0%, #e7e0fc 100%);
    backdrop-filter: blur(15px);
    border-radius: 50%;
    @include laptop {
      width: 130px;
      height: 130px;
    }
    @include tablet-min {
      width: 76px;
      height: 76px;
    }
  }
  &__circle-text {
    position: absolute;
    display: block;
    overflow: visible;
    top: 22px;
    right: 22px;
    bottom: 22px;
    left: 22px;
    font-size: 18px;
    fill: var(--orange);
    animation: rotate 5s linear infinite;
    path {
      fill: none;
    }
    @include tablet-min {
      top: 13px;
      right: 13px;
      bottom: 13px;
      left: 13px;
    }
  }
  &__circle-center {
    @include flex-center;
    width: 68px;
    height: 68px;
    background-color: white;
    border-radius: 50%;
    @include tablet-min {
      width: 36px;
      height: 36px;
    }
  }
  &__circle-logo {
    width: 25px;
    @include tablet-min {
      width: 15px;
    }
  }
  &__body {
    position: relative;
    padding: 40px;
    border-radius: 40px;
    overflow: hidden;
    z-index: 1;
    &::before,
    &::after {
      position: absolute;
      content: "";
    }
    &::before {
      top: 0;
      left: 0;
      bottom: 0;
      width: 825px;
      background: url("@img/picture/linear-show.png") 0 0 / cover no-repeat;
      z-index: -2;
    }
    &::after {
      width: 1450px;
      height: 350px;
      top: 145px;
      left: -400px;
      transform: rotate(-43deg);
      background: url("@img/decor/decor.png") 0 0 / cover no-repeat;
      z-index: -1;
    }
    @include laptop {
      padding: 30px;
      &::before {
        left: -200px;
      }
    }
    @include laptop-min {
      &::before {
        left: -280px;
      }
    }
    @include tablet {
      padding: 90px 20px 20px 20px;
      border-radius: 20px;
      &::before {
        bottom: 0;
        right: 0;
        left: auto;
        width: 1290px;
      }
      &::after {
        left: -640px;
      }
    }
    @include tablet-min {
      padding: 190px 12px 12px 12px;
      &::before {
        top: auto;
        width: 730px;
        height: 450px;
        filter: blur(4px);
        transform: scale(-1, 1);
        left: -80px;
      }
      &::after {
        width: 830px;
        height: 250px;
        left: -350px;
        top: 215px;
        transform: rotate(-28deg);
      }
      &--review {
        &::before {
          height: 550px;
          left: -65px;
        }
      }
    }
  }
  &__info {
    max-width: 670px;
    background-color: white;
    padding: 32px;
    border-radius: 30px 30px 0 30px;
    mask: url("@img/elements/consultation-mask.png");
    mask-size: 100% 100%;
    &--review {
      mask: url("@img/elements/leave-review-mask.png");
      mask-size: 100% 100%;
    }
    @include tablet {
      border-radius: 16px 16px 0 16px;
      padding: 16px 14px;
    }
    @include tablet-min {
      mask: url("@img/elements/corner-top-right-mobile.png");
      mask-size: 100% 100%;
    }
  }
  &__img {
    position: absolute;
    width: 50%;
    height: 100%;
    object-fit: cover;
    top: 0;
    right: 0;
    z-index: -3;
    @include tablet-min {
      width: 498px;
      height: 280px;
      right: -30px;
      transform: scale(0.9);
      top: -15px;
      max-width: none;
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}