.our-doctors {
  padding: 90px 0px;
  z-index: 5;
  &--clean {
    padding-top: 0;
    &::before {
      display: none;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 2035px;
    height: 588px;
    right: 0;
    bottom: -145px;
    transform: rotate(-40deg);
    background: url(../img/decor/decor.png) 0 0 / cover no-repeat;
    z-index: -1;
  }
  @include tablet {
    padding: 40px 0px;
    border-radius: 0 0 30px 30px;
    &::before {
      width: 1065px;
      height: 175px;
      transform: rotate(135deg);
      bottom: -405px;
    }
  }
  &__head {
    @include flex-between;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  &__slider-nav {
    @include tablet-min {
      display: none;
    }
  }
  &__slider {
    .swiper-wrapper {
      align-items: stretch;
    }
  }
  &__scrollbar-wrapper {
    margin-top: 30px;
    display: none;
    @include tablet {
      display: block;
    }
  }
}
