.our-doctors {
  padding: 90px 0px;
  z-index: 5;
  &--clean {
    padding: 0;
    z-index: 10;
    &::before {
      display: none;
    }
  }
  &--clean-top {
    padding-top: 0;
    &::before {
      display: none;
    }
  }
  &--clean-bottom {
    padding-bottom: 0;
    &::before {
      display: none;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 2035px;
    height: 588px;
    right: 0;
    bottom: -145px;
    transform: rotate(-40deg);
    background: url("../img/decor/decor.svg") 0 0 / cover no-repeat;
    z-index: -1;
  }
  @include tablet {
    padding: 40px 0px;
    border-radius: 0 0 30px 30px;
    &--clean {
      padding: 0;
    }
    &::before {
      width: 1230px;
      height: 300px;
      transform: rotate(-123deg) scale(-1, 1);
      bottom: 65px;
      right: -150px;
    }
  }
  &__head {
    @include flex-between;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  &__slider-nav {
    @include tablet-min {
      display: none;
    }
  }
  &__slider {
    @include mobile {
      margin: 0 -15px !important;
      padding: 0 15px !important;
    }
    .swiper-wrapper {
      align-items: stretch;
    }
  }
  &__scrollbar-wrapper {
    margin-top: 30px;
    display: none;
    @include tablet {
      display: block;
    }
  }
}
