.prices {
  padding-bottom: 90px;
  @include tablet {
    padding-bottom: 40px;
  }
  &__title {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 60px;
    padding: 16px 26px 16px 40px;
    background-color: var(--alabaster);
    @include laptop-min {
      flex-wrap: wrap;
      gap: 16px;
      border-radius: 16px;
    }
    @include tablet {
      padding: 16px;
      row-gap: 16px;
      gap: 8px;
    }
  }
  &__item-title {
    flex: 1;
    @include laptop-min {
      flex: 0 1 100%;
    }
  }
}
