.rating {
  padding: 90px 0px;
  z-index: 9;
  &--clean {
    &::before {
      display: none;
    }
  }
  &::before {
    position: absolute;
    content: "";
    width: 2230px;
    height: 540px;
    top: 0;
    right: 50px;
    transform: rotate(-22deg);
    background: url("@img/decor/decor.svg") 0 0 / 100% 100% no-repeat;
    z-index: -1;
  }
  @include tablet {
    padding: 40px 0px;
    &::before {
      display: none;
    }
  }
  &--rotate {
    z-index: 5;
    @include tablet-min {
      overflow: hidden;
    }
    &::before {
      width: 3000px;
      height: 600px;
      bottom: 0;
      right: -499px;
      top: auto;
      transform: rotate(61deg);
      @include tablet {
        width: 1230px;
        height: 300px;
        bottom: 30px;
        transform: rotate(72deg);
        right: -270px;
        display: block;
      }
      @include tablet-min {
        right: -315px;
      }
    }
  }
  &--about {
    @include tablet {
      overflow: hidden;
    }
    &::before {
      width: 2590px;
      height: 630px;
      transform: rotate(150deg) scale(-1, 1);
      top: auto;
      bottom: -270px;
      right: 0;
      @include tablet {
        display: block;
        width: 1230px;
        height: 300px;
        left: -470px;
        bottom: 120px;
        transform: rotate(145deg);
      }
    }
  }
  &__title {
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 24px;
    }
  }
  &__body {
    display: flex;
    gap: 24px;
    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet-min {
      gap: 16px;
    }
  }
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    flex: 0 1 calc(25% - 18px);
    padding: 35px 30px 30px 30px;
    border-radius: 30px 0 30px 30px;
    min-height: 230px;
    @include laptop-min {
      flex-basis: calc(50% - 12px);
    }
    @include tablet {
      padding: 16px;
      border-radius: 20px 0 20px 20px;
    }
    @include tablet-min {
      flex-basis: 100%;
      min-height: auto;
      justify-content: start;
    }
  }
  &__number {
    position: absolute;
    top: 0;
    right: 0;
    .corner__body {
      padding: 0px 0px 10px 10px;
    }
    @include tablet {
      .corner__body {
        padding: 0px 0px 14px 14px;
      }
    }
  }
  &__circle {
    @include flex-center;
    width: 44px;
    height: 44px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    background-color: var(--orange);
    border-radius: 50%;
    @include tablet {
      width: 40px;
      height: 40px;
      font-size: 14px;
      line-height: 143%;
    }
  }
  &__icon {
    width: 200px;
    @include tablet {
      width: 140px;
    }
    @include tablet-min {
      margin-bottom: 8px;
    }
  }
  &__item-body {
    @include tablet-min {
      display: flex;
      flex-direction: row-reverse;
      gap: 12px;
      width: fit-content;
    }
  }
  &__reviews {
    display: block;
    font-size: 16px;
    line-height: 150%;
    color: var(--comet);
    margin-bottom: 12px;
    @include tablet {
      font-size: 14px;
      line-height: 143%;
    }
    @include tablet-min {
      margin-bottom: 0;
    }
  }
}
