:root {
  --gun-powder: #3D3E56;
  --melrose: #B198FF;
  --orange: #E7975E;
  --orange-light: #FFF0E6;
  --comet: #5D5E73;
  --athens-gray: #e0e2eb;
  --alabaster: #f8f8f8;
  --cheese: #ffad73;
  --portage: #9579ee;
  --peach: #FFF5EF;
  --manatee: #8B8B9A;
  --cape-cod: #364243;
  --whisper: #EAECF4;
  --red: #D51A52;
  --hint: #4B3A5A;
  --wild-sand: #F6F6F6;
  --chalk: #EEE7FF;
  --studio: #6347BE;
  --bush: #FFE0CB;
}