<section class="section manipulations">
  <div class="container">
    <h2 class="title tile-2 manipulations__title">Общие манипуляции</h2>
    <ul class="list manipulations__list">
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">Бесплатно</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="old-price">4 500 ₽</span>
        <span class="current-price">2 100 ₽</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">2 100 ₽</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">2 100 ₽</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">2 100 ₽</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">2 100 ₽</span>
      </li>
      <li class="manipulations__item">
        <h5 class="title subtitle manipulations__item-title">
          Прием врача-стоматолога, анестезиолога ,пародонтолога, ортодонта, детского стоматолога
        </h5>
        <span class="current-price">2 100 ₽</span>
      </li>
    </ul>
  </div>
</section>
